__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.db
*.sqlite3
instance/
.DS_Store
*.log
static/qrcode/*
static/image/*
static/qr_codes/*
!static/qrcode/.gitkeep
!static/image/.gitkeep
!static/qr_codes/.gitkeep
.env
